.form {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-top: 15px;
    background: #55B9F4;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.41), -8px -8px 13px rgba(255, 255, 255, 0.26);
    border-radius: 15px;
}
.auth button {
    border: none;
    background: #1F2627;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25), -3px -3px 15px rgba(255, 255, 255, 0.36);
    border-radius: 13px;
    color: white;
    margin-bottom: 40px;
    font-size: 25px;
    width: 200px;
    height: 65px;
    left: 272px;
    top: 249px;
}
.auth button:active {
    box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.75), inset -2px -2px 7px rgba(255, 255, 255, 0.37);
}

.auth input {
    border: none;
    background: #55B9F4;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    width: 70%;
    height: 40px;
    left: 231px;
    top: 143px;
    margin-bottom: 30px;
}

.auth h1 {
    font-size: 40px;
}

.autocomplete {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 60px;
    margin-right: 60px;
}
.blackButton {
    margin-top: 15px;
    border: none;
    background: #1F2627;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25), -3px -3px 15px rgba(255, 255, 255, 0.36);
    border-radius: 13px;
    color: white;
    margin-bottom: 40px;
    font-size: 25px;
    width: 200px;
    height: 65px;
    left: 272px;
    top: 249px;
}

.blackButton:active{
    box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.75), inset -2px -2px 7px rgba(255, 255, 255, 0.37);
}